{% extends "base.html" %}
{% block content %}
  <h2>Sélectionner le calendrier à nettoyer :</h2>
  <p><b>Attention !</b> Le nettoyage d'un calendrier peut entrainer la perte d'informations. 
     Veuillez faire une sauvegarde préalable en sélectionant dans votre interface Zimbra "Préférences" -> "Importer/Exporter" 
     et choisir l'export du calendrier que vous souhaitez nettoyer.</p>
  <form enctype="multipart/form-data" action="fileToClean" method="post">
    {% csrf_token %}
    <input type="submit" value="Envoyer" />
  </form>
{% endblock %}